@model IEnumerable<RoleViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Outh.cshtml";
}


<h1>All Roles</h1>

<div class="row justify-content-center align-items-center mt-5">

    <form asp-action="Index" class="row col-8 offset-1">

        <div class="col-8">
            <input class="form-control" type="text" name="searchInp" placeholder="Search by Email..." />
        </div>

        <div class="col-4">
            <input value="Search" type="submit" class="btn btn-success" />
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{


    <div class="mt-4">
        <table class="table tabletable-striped table-hover">
            <thead>
                <tr>


                    <td>@Html.DisplayNameFor(E=>E.Id)</td>
                    <td>@Html.DisplayNameFor(E=>E.Role)</td>
                   
                    <td> Details</td>
                    <td> Update </td>
                    <td> Delete </td>

                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td> @Html.DisplayFor(D=>user.Id)</td>
                        <td> @Html.DisplayFor(D=>user.Role)</td>
                     


                        <partial name="_ButtonsPartial" model="@user.Id" />

                    </tr>

                }
            </tbody>
        </table>

    </div>

}
else
{
    <div class="mt-2 ">
        <h1>Thers is No Roles !</h1>
    </div>
}


